$inclinationDegree: 55deg;

:local {
  .error-page {
    @mixin OpenSans;

    background-color: $steel4;
    height: 100%;

    @media (min-width: 768px) {
      .status {
        height: 20%;
      }

      .description {
        height: 15%;
      }

      .cards {
        height: 65%;
      }
    }

    .status {
      display: flex;
      align-items: flex-end;
      padding-top: 50px;

      h1 {
        font-size: 3.4em;
        margin: 0 auto;
        color: $tertiary;
        text-align: center;
      }
    }

    .description h3 {
      font-size: 2em;
      padding-top: 15px;
      margin: 0 auto;
      color: $aluminum2;
      text-align: center;
    }

    .cards {
      display: flex;
      justify-content: center;
      background-color: $steel4;
      padding: 0 5%;

      /* Mobile, Extra Small */
      @media (max-width: 767px) {
        flex-direction: column;
        padding: 50px 20%;
      }

      .card-container {
        padding: 2%;
        z-index: 2;
        display: flex;
        align-items: flex-start;

        @media (max-width: 767px) {
          width: 100%;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
          width: 30%;
        }

        @media (min-width: 1200px) {
          width: 25%;
        }

        .card {
          cursor: pointer;
          align-items: center;
          display: flex;
          justify-content: center;
          height: 250px;
          width: 100%;
          background: rgba(80, 80, 80, 0.5);
          color: $aluminum2;
          fill: $aluminum2;
          border-top: 4px solid $navy3;

          @media (max-height: 768px) {
            height: 200px;
          }

          &:hover {
            background: rgba(80, 80, 80, 0.7);
          }

          .detail {
            display: flex;
            flex-direction: column;
            align-items: center;

            .image {
              padding: 15px;
            }

            .text {
              font-size: 1.4em;
            }
          }
        }
      }
    }

    @define-mixin triangle-corner {
      position: fixed;
      bottom: -200%;
      width: 90%;
      height: 300%;
      z-index: 1;
    }

    .left-bottom-corner {
      @mixin triangle-corner;

      left: -35%;
      background-color: $steel5;
      transform: rotate(-$inclinationDegree);
    }

    .right-bottom-corner {
      @mixin triangle-corner;

      right: -35%;
      background-color: $steel5;
      transform: rotate($inclinationDegree);
    }
  }
}
